*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
img{
    width: 100%;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}


/*--------facilities
.facilities{
    position: absolute;
    width: 1439px;
    height: 830px;
    left: 2px;
    top: 559px;
    background: #DBF9D9;
}

/*------ about us 
.about-row{
    position: absolute;
    left: 35.37%;
    right: 54.02%;
    top: 0.56%;
    bottom: 98.46%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #000000;   
}

/*---------- What we do -
.what-we-do{
    position: absolute;
    left: 48.75%;
    right: 34.54%;
    top: 0.56%;
    bottom: 98.46%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}
/*---------Contact -
.contact{
    position: absolute;
    left: 65.05%;
    right: 25.52%;
    top: 0.66%;
    bottom: 98.35%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}
/*----------Blog----
.blog{
    position: absolute;
    width: 76px;
    height: 44px;
    left: 1114px;
    top: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
}

/*----------Donate ----
.donate{
    position: absolute;
    width: 151px;
    left: calc(50% - 151px/2 + 609.5px);
    top: 0.72%;
    bottom: 98.3%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}
-------------*/